extends ../layouts/default.pug
block content
    h1 index page
    img.webpack-logo(src=`../assets/images/webpack.png`)
    //+icon('whatsapp')
    span.icon
    svg.btn_icon.btn_icon_light
        +icon('whatsapp')
