doctype html
html(lang="ru")
    head
        title webpack 5 start kit
        link(rel="shortcut icon" type="image/png" href="favicon.png")
        block scripts
    body
        include ../mixins/mixins.pug
        block content
